
:host {
  position: absolute;
  left: -30px;
  top: 2px;
}

// NOTE: :target selector doesn't work for some reason until user explicitly click on link

:host.target:not(:hover) {
  opacity: .7;
  .icon {
    display: none;
  }
}

:host:not(.target),
:host.target:hover {
  .target-icon {
    display: none;
  }
}

/deep/ [id], /deep/ [sideAnchorOwner] {
  app-side-anchor {
    opacity: 0;
  }
  &:hover {
    app-side-anchor {
      transition: opacity .4s;
      opacity: 1;
    }
    [id]:not(:hover), [sideAnchorOwner]:not(:hover) {
      app-side-anchor:not(.target) {
        opacity: 0;
      }
    }
  }
}

a {
  color: inherit;
}
