<div fxLayout="column" fxLayout.gt-sm="row" class="wrapper">
  <mat-card class="index">
    <mat-nav-list>
      <h3 matSubheader>Guides</h3>
      <mat-list-item mat-button *ngFor="let item of guides"
                    [routerLink]="['/guides', item.metadata.id]">
        <a [routerLink]="['/guides', item.metadata.id]" routerLinkActive="active">{{item.metadata.title}}</a>
      </mat-list-item>
      <h3 matSubheader>API Docs</h3>
      <mat-nav-list dense *ngFor="let item of (apiDocs$ | async)?.modules">
        <a [routerLink]="['/api', item.identifier]" routerLinkActive="active">
          <mat-list-item mat-button>{{item.identifier}}</mat-list-item>
        </a>
        <mat-nav-list dense>
          <h4 matSubheader>Components</h4>
          <a *ngFor="let component of item.components"
             [routerLink]="['/api', component.identifier]" routerLinkActive="active">
            <mat-list-item routerLinkActive="active">{{component.identifier}}</mat-list-item>
          </a>
        </mat-nav-list>
        <mat-nav-list dense>
          <h4 matSubheader>Directives</h4>
          <a *ngFor="let directive of item.directives"
             [routerLink]="['/api', directive.identifier]" routerLinkActive="active">
            <mat-list-item>{{directive.identifier}}</mat-list-item>
          </a>
        </mat-nav-list>
      </mat-nav-list>
    </mat-nav-list>
  </mat-card>
  <div fxFlex class="mat-padding content">
    <router-outlet></router-outlet>
  </div>
</div>
