:host {
  flex: 1;
  display: flex;
}

.index {
  min-width: 300px;
  padding: 0;
  margin-top: 1px;
  overflow: auto;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.content {
  overflow: auto;
}

md-nav-list md-nav-list md-list-item {
  padding-left: 15px;
}

md-nav-list md-nav-list md-nav-list md-list-item {
  padding-left: 30px;
}

md-nav-list md-nav-list .mat-subheader {
  padding-left: 32px;
}

.active > md-list-item {
  background: rgba(0, 0, 0, .07);
}
