@import '../../styles/scrollbars';

$sidenav-width: 280px;
:host {
  flex: 1;
  display: flex;
  max-height: 100%;
  overflow: auto;
}

.index {
  @include scrollbars();
  min-width: $sidenav-width;
  padding: 0;
  margin-top: 1px;
  overflow: auto;
  transition: margin-left .2s .2s;
}

:host.hidden-sidenav .index:not(.hovered) {
  margin-left: -$sidenav-width;
  margin-right: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.content {
  @include scrollbars();
  overflow: auto;
}

mat-nav-list mat-nav-list mat-list-item {
  padding-left: 15px;
}

mat-nav-list mat-nav-list mat-nav-list mat-list-item {
  padding-left: 30px;
}

mat-nav-list mat-nav-list .mat-subheader {
  padding-left: 32px;
}

.active > mat-list-item {
  background: rgba(0, 0, 0, .07);
}
