<div fxLayout="column" fxLayout.gt-sm="row" class="wrapper">
  <mat-card class="index" #index>
    <mat-nav-list>
      <h3 matSubheader>Guides</h3>
      <a mat-list-item *ngFor="let item of guides" [routerLink]="['/guides', item.id]" routerLinkActive="active">
        <img matListIcon
             src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_g_60.png"/>
        <span matLine>{{item.title}}</span>
      </a>
      <h3 matSubheader>Demos</h3>
      <a mat-list-item *ngFor="let item of demos" [routerLink]="['/demos', item.id]" routerLinkActive="active">
        <img matListIcon
             src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_d_60.png"/>
        <span matLine>{{item.title}}</span>
      </a>
      <h3 matSubheader>API Docs</h3>
      <mat-nav-list dense *ngFor="let item of docs.modules">
        <a [routerLink]="['/api', item.identifier]" routerLinkActive="active">
          <mat-list-item mat-button>{{item.identifier}}</mat-list-item>
        </a>
        <mat-nav-list dense>
          <h4 matSubheader>Components</h4>
          <a *ngFor="let component of item.components"
             [routerLink]="['/api', component.identifier]" routerLinkActive="active">
            <mat-list-item routerLinkActive="active">{{component.identifier}}</mat-list-item>
          </a>
        </mat-nav-list>
        <mat-nav-list dense *ngIf="item.directives?.length > 0">
          <h4 matSubheader>Directives</h4>
          <a *ngFor="let directive of item.directives"
             [routerLink]="['/api', directive.identifier]" routerLinkActive="active">
            <mat-list-item>{{directive.identifier}}</mat-list-item>
          </a>
        </mat-nav-list>
      </mat-nav-list>
      <mat-nav-list dense *ngIf="docs.types?.length > 0">
        <h4 matSubheader>Types</h4>
        <a *ngFor="let type of docs.types"
           [routerLink]="['/api', type.identifier]" routerLinkActive="active">
          <mat-list-item>{{type.identifier}}</mat-list-item>
        </a>
      </mat-nav-list>
    </mat-nav-list>
  </mat-card>
  <div fxFlex class="content">
    <router-outlet></router-outlet>
  </div>
</div>
