<h1>State management</h1>

<p>
  Below is a typical usage of the library which consists of a <a routerLink="/api/PaneAreaComponent">pane area</a>
  which contains a couple of <a routerLink="/api/PaneGroupComponent">pane groups</a>, each of them containing
  a number of <a routerLink="/api/PaneComponent">panes</a>:
</p>

<ngx-pane-area style="height: 260px;">
  <ngx-pane-group align="start" [defaultWidth]="200">
    <ngx-pane title="Pane #1" [width]="widths[0]" (widthChange)="setWidth(0,$event, true)">First Pane</ngx-pane>
    <ngx-pane title="Pane #2" [width]="widths[1]" (widthChange)="setWidth(1,$event, true)">Second Pane</ngx-pane>
  </ngx-pane-group>
  <ngx-pane-group align="end" [defaultWidth]="200">
    <ngx-pane title="Pane #3" [width]="widths[2]" (widthChange)="setWidth(2,$event, true)">Third Pane</ngx-pane>
  </ngx-pane-group>
  <div class="mat-padding">
    Code for this pane area is something like this:
    <app-code-block [flat]="true" [language]="'html'" [copy]="false" [source]="usageExample">
    </app-code-block>
  </div>
</ngx-pane-area>

<br/>
<p>
  <b>State</b> of these components, e.g width of each pane, selected pane in each pane group, etc., is determined
  by inputs and also may change by <b>user interaction</b>. A resizable pane for example lets user change
  width of the pane.
  You can keep track of each part of this state via outputs and keep its latest value somewhere to restore it next time
  this component is rendered.
</p>

<p>
  In the example above, width of each pane is synchronized with a dedicated query parameter, via
  <a routerLink="/api/PaneComponent" fragment="width">width input</a> and
  <a routerLink="/api/PaneComponent" fragment="widthChange">widthChange output</a>.
  Go ahead and resize a pane and refresh the page to see it in action.
</p>

<p>
  We could keep (no matter in url, cookies, local storage,
  or even on the server as a user preference) other parts of UI state such as
  <a routerLink="/api/PaneGroupComponent" fragment="selectedPane">selected pane</a>
  and restore it on initialization, via inputs in the same fashion as we did for widths.
  However there is a tricky part of the UI state which is not so
  trivial to deal with, specially if we are using a static template for defining panes,
  which is the case in most scenarios.
</p>

<h2>Panes arrangement</h2>
<p>
  By default, users can <b>reorder</b> panes inside each side or even <b>move</b>
  them from one side to another, unless you
  opt out of <a routerLink="/api/PaneAreaComponent" fragment="tabsDraggable">this feature</a>.
  For being able to restore previous pane positions, paneArea accepts a
  <a routerLink="/api/PaneAreaComponent" fragment="state">state</a> input of type
  <a routerLink="/api/PaneAreaState">PaneAreaState</a> which teaches paneArea how to
  arrange panes in different sides, overriding their original arrangement based on template.
  While you can provide this state object as an input, paneArea component looks for an
  injectable object of type
  <a routerLink="/api/PaneAreaStateManager">PaneAreaStateManager</a> which is responsible for saving/restoring
  such state when needed. A default implementation of
  <a routerLink="/api/PaneAreaStateManager">PaneAreaStateManager</a> which is based on local storage
  (<a routerLink="/api/LocalStoragePaneAreaStateManager">LocalStoragePaneAreaStateManager</a>)
  is provided by <a routerLink="/api/NgxPanesModule">NgxPanesModule</a> by default.

  All you need to do in order to make use of this default
  <a routerLink="/api/PaneAreaStateManager">PaneAreaStateManager</a>, is to use a <b>unique id</b> for each
  <a routerLink="/api/PaneAreaComponent" fragment="id">ngx-pane-area</a>,
  <a routerLink="/api/PaneGroupComponent" fragment="id">ngx-pane-group</a> and
  <a routerLink="/api/PaneComponent" fragment="id">ngx-pane</a> component.
</p>

<app-callout type="info">
  Please note that the only part of UI state which is handled by
  <a routerLink="/api/PaneAreaStateManager">PaneAreaStateManager</a> is panes arrangement.
  If you want to preserve other things (like
  selected pane) across page reloads, you need to handle it yourself as shown in previous example.
</app-callout>
<p>
  Below is a refined version of the previous example, in which unique id is used for all components.
  This allows default <a routerLink="/api/LocalStoragePaneAreaStateManager">LocalStoragePaneAreaStateManager</a>
  to save/restore order and position of panes inside pane groups.
  Go ahead and move third pane to the left side and refresh the page to see how it keeps its position.
</p>
<ngx-pane-area id="state-management-demo" style="height: 250px;" #paneArea (stateChange)="check(paneArea)">
  <ngx-pane-group align="start" id="group1" [defaultWidth]="200">
    <ngx-pane id="pane1" title="Pane #1" [width]="widths[0]" (widthChange)="setWidth(0,$event)">First Pane</ngx-pane>
    <ngx-pane id="pane2" title="Pane #2" [width]="widths[1]" (widthChange)="setWidth(1,$event)">Second Pane</ngx-pane>
  </ngx-pane-group>
  <ngx-pane-group align="end" id="group2" [defaultWidth]="200">
    <ngx-pane id="pane3" title="Pane #3" [width]="widths[2]" (widthChange)="setWidth(2,$event)">Third Pane</ngx-pane>
  </ngx-pane-group>
</ngx-pane-area>

<h2>Custom State Manager</h2>
<p>
  Creating custom <code>PaneAreaStateManager</code> is simple.
  All you need to do is to provide an implementation of it!
  Below is an example of such implementation which uses a <b>user preferences</b> service to save/load pane area
  state. This user preferences service returns a <b>Promise</b> of the saved state.
</p>

<app-code-block [source]="sources.customStateManager" language="typescript"></app-code-block>

<p>Now we need to provide it via <code>providers</code> array of an angular module or directive:</p>
<app-code-block [source]="sources.provider" language="typescript"></app-code-block>


<!--<ngx-pane-area id="custom-state-manager" style="height: 250px;" myCustomPaneAreaStateManager>-->
<!--<ngx-pane-group align="start" id="group1" [defaultWidth]="200">-->
<!--<ngx-pane id="pane1" title="Pane #1">First Pane</ngx-pane>-->
<!--<ngx-pane id="pane2" title="Pane #2">Second Pane</ngx-pane>-->
<!--</ngx-pane-group>-->
<!--<ngx-pane-group align="end" id="group2" [defaultWidth]="200">-->
<!--<ngx-pane id="pane3" title="Pane #3">Third Pane</ngx-pane>-->
<!--</ngx-pane-group>-->
<!--</ngx-pane-area>-->
