<h1>State management</h1>

<p>
  Below is a typical usage of the library which consists of a <a routerLink="/api/PaneAreaComponent">pane area</a>
  which contains a couple of <a routerLink="/api/PaneGroupComponent">pane groups</a>, each of them containing
  a number of <a routerLink="/api/PaneComponent">panes</a>:
</p>

<ngx-pane-area style="height: 265px;">
  <ngx-pane-group align="start" [defaultSize]="200">
    <ngx-pane title="Pane #1" [size]="sizes[0]" (sizeChange)="setSize(0,$event, true)">First Pane</ngx-pane>
    <ngx-pane title="Pane #2" [size]="sizes[1]" (sizeChange)="setSize(1,$event, true)">Second Pane</ngx-pane>
  </ngx-pane-group>
  <ngx-pane-group align="end" [defaultSize]="200">
    <ngx-pane title="Pane #3" [size]="sizes[2]" (sizeChange)="setSize(2,$event, true)">Third Pane</ngx-pane>
  </ngx-pane-group>
  <div class="mat-padding">
    Code for this pane area is something like this:
    <app-code-block [flat]="true" [language]="'html'" [copy]="false" [source]="usageExample">
    </app-code-block>
  </div>
</ngx-pane-area>

<br/>
<p>
  <b>State</b> of these components, e.g size of each pane, selected pane in each pane group, etc., is determined
  by inputs and also may change by <b>user interaction</b>. A resizable pane for example lets user change
  size of the pane.
  You can track changes to each part of this state via outputs and keep its latest value somewhere
  to restore it next time this component is rendered.
</p>

<p>
  In the example above, size of each pane is synchronized with a dedicated query parameter, via
  <a routerLink="/api/PaneComponent" fragment="size">size input</a> and
  <a routerLink="/api/PaneComponent" fragment="sizeChange">sizeChange output</a>:
  <app-code-block [source]="codeBlock3"></app-code-block>
  <code>setSize</code> code is something like this:
  <app-code-block [source]="codeBlock1"></app-code-block>
  We also initiate size of each pane from corresponding query param in <code>OnInit</code>
  lifecycle hook:
  <app-code-block [source]="codeBlock2"></app-code-block>

  Scroll up, resize a pane and refresh the page to see it in action.
</p>

<p>
  We could keep (no matter in url, cookies, local storage,
  or even on the server as a user preference) other parts of UI state such as
  <a routerLink="/api/PaneGroupComponent" fragment="selectedPane">selected pane</a>
  and restore it on initialization, via inputs in the same fashion as we did for sizes.
  However there is a tricky part of the UI state which is not so
  trivial to deal with, specially if we are using a static template for defining panes,
  which is the case in most scenarios.
</p>

<h2>Pane arrangement</h2>
<p>
  By default, users can <b>reorder</b> panes inside each side or even <b>move</b>
  them from one side to another, unless you
  opt out of <a routerLink="/api/PaneAreaComponent" fragment="tabsDraggable">this feature</a>.
  For being able to restore previous pane positions, <code>ngx-pane-area</code> accepts a
  <a routerLink="/api/PaneAreaComponent" fragment="panePositions">panePositions input</a> of type
  <a routerLink="/api/PanePositions">PanePositions</a> which teaches pane-area how to
  arrange panes in different sides, overriding their original arrangement based on template.
  <br/>
  While you can provide this state object as an input, <code>ngx-pane-area</code> component looks for an
  injectable object of type
  <a routerLink="/api/PaneAreaStateManager">PaneAreaStateManager</a> which is responsible for saving/restoring
  such state when needed.
  <br/>
  A default implementation of
  <a routerLink="/api/PaneAreaStateManager">PaneAreaStateManager</a> which is based on local storage
  (<a routerLink="/api/LocalStoragePaneAreaStateManager">LocalStoragePaneAreaStateManager</a>)
  is shipped with the library but <b>not provided by default</b>.
  You can provide it in your own module or use
  <a routerLink="/api/LocalStorageStateManagerDirective">localStorageStateManagement directive</a>
  on <code>ngx-pane-area</code>. It provides
  an instance of <code>LocalStoragePaneAreaStateManager</code> to that pane area.

</p>

<app-callout type="info">
  For now, the only part of UI state which is handled by
  <a routerLink="/api/PaneAreaStateManager">PaneAreaStateManager</a> is arrangement of panes.
  If you want to preserve other things (like
  selected pane) across page reloads, you need to handle it yourself as shown in the previous example.
</app-callout>
<p>
  Below is a refined version of the previous example, in which a unique id is used for each component and
  <code>localStorageStateManager</code> directive is added to <code>ngx-pane-area</code> component.
  Go ahead and move <b><i>pane #3</i></b> to the left side and refresh the page to see how it keeps its position.
</p>
<ngx-pane-area id="state-management-demo" ngxLocalStorageStateManager
               style="height: 280px;" #paneArea (panePositionsChange)="check(paneArea)">
  <ngx-pane-group align="start" id="group1" [defaultSize]="200">
    <ngx-pane id="pane1" title="Pane #1" [size]="sizes[0]" (sizeChange)="setSize(0,$event)">First Pane</ngx-pane>
    <ngx-pane id="pane2" title="Pane #2" [size]="sizes[1]" (sizeChange)="setSize(1,$event)">Second Pane</ngx-pane>
  </ngx-pane-group>
  <ngx-pane-group align="end" id="group2" [defaultSize]="200">
    <ngx-pane id="pane3" title="Pane #3" [size]="sizes[2]" (sizeChange)="setSize(2,$event)">Third Pane</ngx-pane>
  </ngx-pane-group>
  <div class="mat-padding">
    Code for this pane area is something like this:
    <app-code-block [flat]="true" [language]="'html'" [copy]="false" [source]="usageExample2"></app-code-block>
  </div>
</ngx-pane-area>


<app-callout type="info">
  Setting <code>id</code> for <code>ngx-pane-area</code> is required for
  <a routerLink="/api/LocalStoragePaneAreaStateManager">LocalStoragePaneAreaStateManager</a> to work.
</app-callout>

<app-callout type="info">
  Setting <code>id</code> for <code>ngx-pane</code> and <code>ngx-pane-group</code> components is
  necessary, no matter you are using default state manager or providing a custom one.
</app-callout>

<h2>Custom State Manager</h2>
<p>
  Creating custom <code>PaneAreaStateManager</code> is simple.
  All you need to do is to provide an implementation of it!
  Below is an example of such implementation which uses a <b>user preferences</b> service to save/load pane area
  state. This user preferences service returns a <b>Promise</b> of the saved state.
</p>

<app-code-block [source]="sources.customStateManager" language="typescript"></app-code-block>

<p>Now we need to provide it via <code>providers</code> array of our angular module or directive:</p>
<app-code-block [source]="sources.provider" language="typescript"></app-code-block>


<!--<ngx-pane-area id="custom-state-manager" style="height: 250px;" myCustomPaneAreaStateManager>-->
<!--<ngx-pane-group align="start" id="group1" [defaultSize]="200">-->
<!--<ngx-pane id="pane1" title="Pane #1">First Pane</ngx-pane>-->
<!--<ngx-pane id="pane2" title="Pane #2">Second Pane</ngx-pane>-->
<!--</ngx-pane-group>-->
<!--<ngx-pane-group align="end" id="group2" [defaultSize]="200">-->
<!--<ngx-pane id="pane3" title="Pane #3">Third Pane</ngx-pane>-->
<!--</ngx-pane-group>-->
<!--</ngx-pane-area>-->
