
:host {
  padding-left: 20px;
  display: block;
  /deep/ a[href^="http"]:after {
    content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
  }
}

b {
  font-weight: 500;
}

.method {
  padding: 15px;
  margin-bottom: 20px;
  app-params /deep/ {
    mat-card {
      padding: 0;
      box-shadow: none;
    }
  }
  h3 small {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 2px;
  }
  app-side-anchor {
    margin-left: -15px;
    padding-right: 21px;
  }
}
