@mixin panes-theme($color-primary){
  .tab.active{
    background: $color-primary;
    color: #fff;
  }
}

@include panes-theme(#4756bf);
.tabs {
  width: 22px;
  line-height: 22px;
  background: rgba(0,0,0,.1);
  overflow: hidden;
  .wrapper.end &{
    order: 1;
  }
}

.tab {
  padding: 10px 0;
  cursor: pointer;
  user-select: none;
  direction: ltr;
  &:not(.active):hover{
    background: rgba(0,0,0,.1);
  }
}

.rotated {
  display: inline-block;
  white-space: nowrap;
  transform-origin: center;
  &::before{
    content: " ";
    float: left;
    margin-top: 100%;
  }
  .wrapper.left &{
    transform: rotate(-90deg);
    /*
    ┌────────┐                  ┌────────┐
    │^^^^^^^^│                  │<       │
    │        │  rotate(-90deg)  │<       │     ✅
    │        │        =>        │<       │
    └────────┘                  └────────┘
  */
  }

  .wrapper.right &{
    transform: rotate(90deg);
    /*
    ┌────────┐                  ┌────────┐
    │^^^^^^^^│                  │       >│
    │        │  rotate(90deg)   │       >│      X
    │        │        =>        │       >│
    └────────┘                  └────────┘
    */

    /*
    The following commented solution is nice but it's not cross-browser (at least it doesn't work in Firefox).
    ┌────────┐                          ┌────────┐                  ┌────────┐
    │^^^^^^^^│  display: inline-flex;   │        │                  │>       │
    │        │  align-items: flex-end;  │        │ rotate(-90deg)   │>       │     ✅
    │        │        =>                │^^^^^^^^│       =>         │>       │
    └────────┘                          └────────┘                  └────────┘
    */
    /*
    display: inline-flex;
    align-items: flex-end;
    */

    // The following solution works in all browsers, but relays on line-height
    transform: rotate(90deg) translateY(100%);
    position: relative;
    left: 23px;
  }
}

.wrapper {
  height: 100%;
}

.content-container {
  overflow: hidden;
}
