<div class="container">
  <div *ngIf="tags?.length">
    Filtered by:
    <mat-chip-list [selectable]="false">
      <mat-chip *ngFor="let tag of tags" [selected]="true" color="accent">
        {{tag}}
        <button mat-icon-button (click)="removeTag(tag)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
  </div>
  <mat-list>
    <app-demo-item *ngFor="let demo of filteredDemos"
                   (tagClicked)="addTag($event)"
                   [demo]="demo"></app-demo-item>
  </mat-list>

</div>
