@import '../../styles/theme';
@import '~@angular/material/theming';

$primary: map-get($app-theme, primary);
$foreground: map-get($app-theme, foreground);
$background: map-get($app-theme, background);

.content {
  padding-top: 70px;
  max-width: 1250px;
  margin: auto;
  line-height: 1.5;
}

.header {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  background-color: mat-color($primary, 800);
  color: mat-contrast($primary, 700);
  a {
    position: relative;
    text-decoration: none;
    color: map-get($foreground, text);
  }
}

.version-tag {
  font-size: 11px;
  letter-spacing: 0;
  opacity: .3;
  font-style: italic;
  font-family: monospace;
  border-radius: 5px;
  padding: 1px 4px;
  margin-left: -5px;
  margin-right: -40px;
  border: 1px solid;
}

.call-to-actions {
  margin: 50px 0 0;
  a {
    margin: 0 10px;
  }
}

.title {
  margin-bottom: 15px;
  font-weight: 300;
}

.sub-title {
  color: transparentize(mat-contrast($primary, 700), .3);
}

.shadow {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.section {
}

.card-wrapper {
  margin-bottom: 20px;
  a {
    text-decoration: none;
    position: relative;
  }
  mat-card:hover {
    background: map-get($background, hover);
  }
  mat-card-header /deep/ .mat-card-title {
    margin: 0;
    line-height: 40px;
    text-indent: 5px;
    font-size: 24px;
  }
}

.divider {
  overflow: hidden;
  height: 20px;
  margin: 50px auto 30px;
  max-width: 900px;
  &::after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  }
}

%icon {
  background: no-repeat left center;
  background-size: auto 100%;
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: bottom;
  @media(max-width: 599px) { // FIXME: don't use hard coded media queries
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
  }
}

.section {
  @media(max-width: 959px) { // FIXME: don't use hard coded media queries
    text-align: center;
  }
  h2 {
    line-height: 50px;
  }
}

.icon-theme {
  @extend %icon;
  background-image: url('../../assets/images/theme.png');
}

.icon-config {
  @extend %icon;
  background-image: url('../../assets/images/config.png');
}

.icon-docs {
  @extend %icon;
  background-image: url('../../assets/images/docs.png');
}
