<div class="header">
  <div class="mat-display-3 title shadow">ngx-panes <sub class="version-tag">Alpha</sub></div>
  <div class="mat-subheading-1 sub-title">Pane windows (aka tool windows) for Angular</div>
  <div class="call-to-actions">
    <a mat-raised-button routerLink="/guides/getting-started">Get Started</a>
    <a mat-raised-button routerLink="/demos/github/angular/material2">See a demo</a>
  </div>
</div>

<div class="mat-padding content">
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around">
    <div fxFlex.gt-sm="30" class="section">
      <h2>
        <i class="icon-theme"></i>
        Themeable
      </h2>
      <p>
        Changing theme is as easy as including a scss mixin with necessary options.
        There are also a couple of pre-built themes shipped as css files with the library.
        <br/>
        <a routerLink="/guides/theming">Learn more</a>.
      </p>
    </div>
    <div fxFlex.gt-sm="30" class="section">
      <h2>
        <i class="icon-config"></i>
        Configurable
      </h2>
      <p>
        You can provide default values for almost every configuration parameter and input that makes sense,
        in every level of components DI hierarchy.
        <br/>
        <a routerLink="/api/NGX_PANES_DEFAULTS">Learn more</a>.
      </p>
    </div>
    <div fxFlex.gt-sm="30" class="section">
      <h2>
        <i class="icon-docs"></i>
        Documented
      </h2>
      <p>
        Although the whole library is currently no more than a handful of components, directives, etc.,
        all of them are <a routerLink="/api">documented</a> in details, backed by a bunch of
        <a routerLink="/demos">demos</a> and <a routerLink="/guides">guides</a>.
      </p>
    </div>
  </div>

  <!--<div class="divider"></div>-->
  <br>
  <br>

  <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-around">
    <div class="card-wrapper" fxFlex.gt-sm="30">
      <a routerLink="/demos">
        <mat-card matRipple>
          <mat-card-header>
            <img mat-card-avatar=""
                 src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_d_60.png"/>
            <h1 mat-card-title>Demos</h1>
          </mat-card-header>
        </mat-card>
      </a>
    </div>
    <div class="card-wrapper" fxFlex.gt-sm="30">
      <a routerLink="/guides">
        <mat-card matRipple>
          <mat-card-header>
            <img mat-card-avatar=""
                 src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_g_60.png"/>
            <h1 mat-card-title>Guides</h1>
          </mat-card-header>
        </mat-card>
      </a>
    </div>
    <div class="card-wrapper" fxFlex.gt-sm="30">
      <a routerLink="/api">
        <mat-card matRipple>
          <mat-card-header>
            <img mat-card-avatar=""
                 src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_a_60.png"/>
            <h1 mat-card-title>API Docs</h1>
          </mat-card-header>
        </mat-card>
      </a>
    </div>

  </div>
</div>
