<div class="header">
  <div class="mat-display-3 title shadow">ngx-panes</div>
  <div class="mat-subheading-1 sub-title">Pane windows (aka tool windows) for Angular</div>
  <div class="call-to-actions">
    <a mat-raised-button routerLink="/guides/getting-started">Get Started</a>
    <a mat-raised-button routerLink="/demos/github/angular/material2">See a demo</a>
  </div>
</div>

<div class="mat-padding">
  <div fxLayout.gt-sm="row" fxLayout="column">
    <div class="card-wrapper" fxFlex.gt-sm="33">
      <a routerLink="/demos">
        <mat-card matRipple>
          <mat-card-header>
            <img mat-card-avatar=""
                 src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_d_60.png"/>
            <h1 mat-card-title>Demos</h1>
          </mat-card-header>
        </mat-card>
      </a>
    </div>
    <div class="card-wrapper" fxFlex.gt-sm="33">
      <a routerLink="/guides">
        <mat-card matRipple>
          <mat-card-header>
            <img mat-card-avatar=""
                 src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_g_60.png"/>
            <h1 mat-card-title>Guides</h1>
          </mat-card-header>
        </mat-card>
      </a>
    </div>
    <div class="card-wrapper" fxFlex.gt-sm="33">
      <a routerLink="/api">
        <mat-card matRipple>
          <mat-card-header>
            <img mat-card-avatar=""
                 src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_a_60.png"/>
            <h1 mat-card-title>API Docs</h1>
          </mat-card-header>
        </mat-card>
      </a>
    </div>

  </div>
</div>
