mat-card {
  padding: 5px;
  margin-bottom: 10px;
}

:host {
  display: block;
}

:host.flat mat-card {
  box-shadow: none;
  background: transparent;
}

pre {
  background: none;
  border: none;
  margin-bottom: 3px;
}

.copy {
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: 0;
  transition: opacity .3s, transform .3s;
  transform: scale(0);
  :host:hover & {
    opacity: 1;
    transform: scale(1);
  }
  mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
  }
}
