<mat-card [style.padding.px]="loading ? 30: null">
  <app-loading [loading]="loading">
    <pre class="hljs" [ngClass]="language" *ngIf="source" [innerHtml]="sourceHtml"></pre>
    <div #content [hidden]="sourceHtml">
      <ng-content></ng-content>
    </div>
  </app-loading>
  <button mat-mini-fab class="copy"
          (click)="copyToClipboard(tooltip)"
          matTooltip="Copy to clipboard"
          #tooltip="matTooltip"
          matTooltipPosition="before">
    <mat-icon>content_copy</mat-icon>
  </button>

</mat-card>
