<mat-list-item>
  <a routerLink="{{demo.metadata.id}}" class="wrapper-link"></a>
  <img style="padding: 0;"
       src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_d_60.png"
       mat-list-icon/>
  <a routerLink="{{demo.metadata.id}}" mat-icon-button>
    <mat-icon mat-list-icon>play_circle_outline</mat-icon>
  </a>
  <h4 matLine><a routerLink="{{demo.metadata.id}}">{{demo.metadata.title}}</a></h4>
  <div matLine class="desc">{{demo.metadata.description}}</div>
  <div matLine>
    <mat-chip-list>
      <mat-chip role="button"
               (click)="tagClicked.next(tag)"
               *ngFor="let tag of demo.metadata.tags"
               color="accent" [selected]="true">{{tag}}
      </mat-chip>
    </mat-chip-list>
  </div>
</mat-list-item>

