mat-list-item {
  &:hover {
    background: #fafafa;
  }
  border-left: 2px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, .1);

  &:focus, &:active {
    outline: none;
    border-left: 2px solid rgba(0, 0, 0, .1);
  }
}

:host:last-child, :host:last-of-type /deep/ mat-list-item {
  border-bottom: 0;
}

mat-chip-list {
  margin: 8px 0 0 0;
  display: block;
  &:focus {
    outline: none;
  }
}

[mat-list-icon] {
  min-width: 24px;
}

h4 a {
  color: inherit;
  text-decoration: none;
}

mat-chip {
  cursor: pointer;
  position: relative;
  z-index: 1;
  &:focus {
    outline: none;
  }
  padding: 5px 10px !important;
}

.desc {
  color: rgba(0, 0, 0, .5);
}

.wrapper-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
