.custom-header {
  [mat-icon-button] {
    height: 18px;
    line-height: 18px;
    width: 18px;
    mat-icon {
      width: 18px;
      height: 18px;
      line-height: 18px;
      font-size: 16px;
    }
  }
}
