:host {
  position: relative;
}

.container {
  height: 100%;
  padding-top: 1px;
  margin-top: -1px;
}

.custom-header {
  [mat-icon-button] {
    height: 18px;
    line-height: 18px;
    width: 18px;
    mat-icon {
      width: 18px;
      height: 18px;
      line-height: 18px;
      font-size: 16px;
    }
  }
}

.center-card {
  margin: 100px auto;
  max-width: 500px;
}

.rate-limited {
  -webkit-filter: blur(2.5px);
  filter: blur(2.5px);
}

.rate-limit {
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  mat-icon {
    width: auto;
    height: auto;
    font-size: 90px;
  }
}

.fixed-select {
  width: auto;
  /deep/ .mat-select-value {
    max-width: initial;
    display: inline-block;
    vertical-align: sub;
  }
}

.branch-icon {
  margin: 2px 4px;
  fill: rgba(0, 0, 0, .5);
  vertical-align: middle;
}

.title-icon {
  font-size: 14px;
  width: auto;
  height: auto;
  margin-right: 3px;
  vertical-align: middle;
  &[svgicon] {
    height: 16px;
    width: 12px;
  }
}
