<ngx-panes [positionMode]="'start'" [defaultWidth]="280">
  <ngx-pane #firstPane id="test" title="Files" [width]="330">
    <ng-template ngxPaneHeader>custom header {{firstPane.width}}</ng-template>
    <ngx-github-file-tree [slug]="slug" (fileSelected)="downloadSrc($event)"></ngx-github-file-tree>
  </ngx-pane>
  <ngx-pane title="Issues" [width]="320">
    <ngx-github-issue-list [slug]="slug"></ngx-github-issue-list>
  </ngx-pane>
  <ngx-pane title="Contributors">
    <ngx-github-contributors [slug]="slug"></ngx-github-contributors>
  </ngx-pane>
  <ngx-pane title="Dummy">
    <ngx-demo-content lines="40"></ngx-demo-content>
  </ngx-pane>
  <!--  <ngx-pane title="Structure" [width]="300" [resizable]="false">
      This pane is not a resizable pane. it's fixed at <code>330px</code> width
    </ngx-pane>-->
</ngx-panes>
<div fxFlex class="main-content">
  <div #code [hidden]="loading"></div>
  <div *ngIf="loading">
    <md-progress-spinner mode="indeterminate" [strokeWidth]="4"></md-progress-spinner>
  </div>
</div>


