<div class="container">
  <div *ngIf="tags?.length">
    Filtered by:
    <md-chip-list [selectable]="false">
      <md-chip *ngFor="let tag of tags" [selected]="true" color="accent">
        {{tag}}
        <button md-icon-button (click)="removeTag(tag)">
          <md-icon>close</md-icon>
        </button>
      </md-chip>
    </md-chip-list>
  </div>
  <md-card color="primary">
    <md-card-title>Demos</md-card-title>
    <md-card-content>
      <md-list>
        <app-demo-item *ngFor="let demo of filteredDemos"
                       (tagClicked)="addTag($event)"
                       [demo]="demo"></app-demo-item>
      </md-list>
    </md-card-content>
  </md-card>

</div>
