@import "../../../styles/theme-helpers";

mat-list {
  margin: 0;
  padding: 0;
}

mat-list-item {
  border-bottom: 1px solid rgba(0, 0, 0, .08);
  background: #fff;
  &.mat-2-line {
    height: 64px !important;
  }
  /deep/ {
    .mat-list-text {
      font-size: 15px !important;
    }
  }

  .mat-line.second-line {
    @include color-secondary;
    font-size: .7em;
    line-height: 2.2;
  }

  &:hover {
    background: #f6f6f6;
  }
  .action-btn {
    margin-right: -10px;
  }
}
