<div fxLayout="column" class="container">
  <md-toolbar color="primary">ngx-pane Demo</md-toolbar>
  <div fxFlex fxFlex="row" fxLayoutAlign="start stretch">
    <ngx-panes [positionMode]="'start'">
      <ngx-pane title="npm" [width]="300">
        <ngx-demo-content lines="60"></ngx-demo-content>
      </ngx-pane>
      <ngx-pane id="test" title="Project" [width]="330" [resizable]="false">
        <div class="pane-content">
          This pane is not a resizable pane. it's fixed at <code>330px</code> width
        </div>
      </ngx-pane>
      <ngx-pane title="Structure" [width]="300">
        Pane 2
      </ngx-pane>
    </ngx-panes>
    <div fxFlex>
      <button (click)="addPaneTab()">Add another pane to left</button>
    </div>
    <ngx-panes [positionMode]="'end'">
      <ngx-pane title="npm">
        <div class="pane-content">
          This pane is first pane in the set of "end attached" panes
        </div>
      </ngx-pane>
      <ngx-pane title="Project">
        <div class="pane-content">Pane 1 {{title}}</div>
      </ngx-pane>
      <ngx-pane title="Structure" [width]="300">
        Pane 2
      </ngx-pane>
      <ngx-pane *ngFor="let tab of tabs" [title]="tab.title">
        {{tab.content}}
      </ngx-pane>
    </ngx-panes>
  </div>
</div>

