.pane-content {
  padding: 10px;
}
.container{
  height: calc(100vh - 1px);
}

file-tree /deep/ {
  ul.file-tree {
    margin: 7px 0;
  }
}

.main-content {
  padding: 10px;
}

.custom-header {
  [md-icon-button] {
    height: 18px;
    line-height: 18px;
    width: 18px;
    md-icon {
      width: 18px;
      height: 18px;
      line-height: 18px;
      font-size: 16px;
    }
  }
}
