<div fxLayout="column" class="container">
  <md-toolbar color="primary">ngx-pane Demo</md-toolbar>
  <div fxFlex fxFlex="row" fxLayoutAlign="start stretch">
    <ngx-panes [positionMode]="'start'">
      <ngx-pane #firstPane id="test" title="Project" [width]="330">
        <ng-template ngxPaneHeader>custom header {{firstPane.width}}</ng-template>
        <file-tree [tree]="fileTree"
                   (onChange)="clickFileTree($event)"
                   [keyboardWatch]="true">
        </file-tree>
      </ngx-pane>
      <ngx-pane title="npm" [width]="300">
        <ngx-demo-content lines="60"></ngx-demo-content>
      </ngx-pane>
      <ngx-pane title="Structure" [width]="300" [resizable]="false">

        This pane is not a resizable pane. it's fixed at <code>330px</code> width

      </ngx-pane>
    </ngx-panes>
    <div fxFlex>
      <div class="main-content">
        Main content
      </div>
    </div>
    <ngx-panes [positionMode]="'end'" [defaultWidth]="250">
      <ngx-pane #myPane title="Dynamic Tabs">
        <ng-template ngxPaneHeader>
          <div class="custom-header" fxLayout="row">
            <button (click)="addPane()" md-icon-button
                    mdTooltip="Add a new pane">
              <md-icon>add</md-icon>
            </button>
            <span fxFlex></span>
            <span>{{myPane.title}}</span>
          </div>
        </ng-template>
        <div class="pane-content">
          This pane is first pane in the set of "end attached" panes
        </div>
      </ngx-pane>
      <ngx-pane *ngFor="let pane of panes" [title]="pane.title">
        <ng-template ngxPaneHeader>
          <div class="custom-header" fxLayout="row">
            <button (click)="removePane(pane)"
                    md-icon-button mdTooltip="Remove this pane">
              <md-icon>delete</md-icon>
            </button>
            <span fxFlex></span>
            <span>{{pane.title}}</span>
          </div>
        </ng-template>

        {{pane.content}}
      </ngx-pane>
    </ngx-panes>
  </div>
</div>

