@import '~@angular/material/theming';
@import '../../../styles/theme';

$foreground: map-get($app-theme, foreground);
$background: map-get($app-theme, background);

.mat-card {
  margin: 20px;
  &:hover {
    background: map-get($background, hover);
  }
}

a {
  text-decoration: none;
}

.mat-card-title {
  margin-top: 8px;
}

.mat-card-content {
  color: map-get($foreground, secondary-text);
}
