<router-outlet></router-outlet>
<div fxLayout="column" fxLayout.gt-md="row" fxLayoutWrap="">
  <div fxFlex.gt-md="50" *ngFor="let guide of guides">
    <a [routerLink]="guide.metadata.id">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar
               src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_g_60.png"/>
          <mat-card-title>{{guide.metadata.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{guide.metadata.description}}
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>
