@import '~@angular/material/theming';

@mixin app-callout-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $success: mat-palette($mat-green);

  app-callout > md-card {
    &.info {
      border-color: mat-color($primary);
      > md-icon {
        color: mat-color($primary);
      }
    }
    &.success {
      border-color: mat-color($success);
      > md-icon {
        color: mat-color($success);
      }
    }
    &.danger {
      border-color: mat-color($warn);
      > md-icon {
        color: mat-color($warn);
      }
    }
  }
}
