<h1 id="theming">
  <app-side-anchor></app-side-anchor>
  Theming
</h1>
<p>
  To create a custom theme, you need to import <code>ngx-panes-theme</code> mixin and include it
  in whatever <a routerLink="." fragment="theme-scope">scope</a> you want it to get applied:
  <app-code-block language="scss" [source]="samples.basic"></app-code-block>
  <a routerLink="/demos/theming">Theming demo</a> shows it in action.
</p>
<p>
  <code>ngx-panes-theme</code> mixin currently accepts a configuration map (object) with the following keys:
</p>
<mat-card class="table-responsive">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Option</th>
      <th>Required</th>
      <th>Description</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let option of options">
      <td id="option-{{option.name | kebabCase}}">
        <app-side-anchor></app-side-anchor>
        <code>{{option.name}}</code>
      </td>
      <td>
        <mat-icon>{{option.required ? 'check' : 'close'}}</mat-icon>
      </td>
      <td [innerHtml]="option.description" appRouterLinksFromHrefs></td>
      <td class="no-wrap">
        <code *ngIf="option.defaultValue">{{option.defaultValue}}</code>
        <span *ngIf="!option.defaultValue"> - </span>
      </td>
    </tr>
    </tbody>
  </table>
</mat-card>

<app-callout type="danger">
  This configuration parameters for theming are experimental and subject to change in future.
</app-callout>

<app-callout type="info">
  Wherever <code>ngx-panes-theme</code> is applying a background color to something, it's smart enough to apply a
  legible
  <a routerLink="." fragment="option-light-text-color">light</a> or
  <a routerLink="." fragment="option-dark-text-color">dark</a> text color based background color.
</app-callout>

<h2 id="theme-scope">
  <app-side-anchor></app-side-anchor>
  Theme scope
</h2>
<p>
  When you define a theme by including <code>ngx-panes-theme</code>,
  the scope of the theme application depends on the place you include the mixin.
</p>
<h3 id="scope-global">
  <app-side-anchor></app-side-anchor>
  Single global theme
</h3>
<p>
  You can define a theme to be applied to all <code>ngx-pane-area</code> instances, by including the
  <code>ngx-panes-theme</code> mixin in a globally applied style.
</p>
<app-code-block language="scss" [source]="samples.customTheme1"></app-code-block>
<p>
  If you are using Angular CLI, you can put it inside <b>styles.scss</b> (which is created by Angular CLI by default),
  or any other file which is included in <i><b>styles</b></i> property of your app inside
  <i><b>.angular-cli.json</b></i> file.
  <a href="https://github.com/angular/angular-cli/wiki/stories-global-styles">Learn more</a>.
</p>
<p>
  You can also use on of the pre-defined themes. Simply import them inside a globally applied style:
</p>
<app-code-block language="scss" [source]="samples.preDefinedTheme"></app-code-block>

<h3 id="scope-enclosed">
  <app-side-anchor></app-side-anchor>
  Multiple global themes
</h3>
<p>
  If you want to use multiple themes, you can simply wrap mixin inclusion in a class selector:
</p>
<app-code-block language="scss" [source]="samples.customTheme2"></app-code-block>

<h3 id="scope-component">
  <app-side-anchor></app-side-anchor>
  Inside component styles
</h3>
<p>
  You can also include <code>ngx-pane-theme</code> mixin inside
  <a href="https://angular.io/guide/component-styles">styles of some component</a>, But note that the generated style
  is subject to that component's
  <a href="https://angular.io/docs/ts/latest/guide/component-styles.html#view-encapsulation">view encapsulation</a>.
  Unless the view encapsulation is set to <code>None</code>, you need to include the mixin inside a
  <a href="https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep">Shadow Piercing combinator</a>
  (<code>::ng-deep</code>, <code>/deep/</code> or <code>&gt;&gt;&gt;</code>).
  However it's deprecated and you don't need to take this approach in most cases.
</p>


<h3 id="angular-material-theme">
  <app-side-anchor></app-side-anchor>
  Using Angular Material theme
</h3>
If you are using <a href="https://material.angular.io">Angular Material</a>, and you are using a
<a href="https://material.angular.io/guide/theming#defining-a-custom-theme">custom theme</a>,
you can use it to create an ngx-pane theme, using <code>from-material-theme</code> function:

<app-code-block language="scss" [source]="samples.material"></app-code-block>
