<h1 id="theming">
  <app-side-anchor></app-side-anchor>
  Theming
</h1>
<p>
  To create a custom theme, you need to import <code>ngx-panes-theme</code> mixin and include it
  in whatever <a routerLink="." fragment="theme-scope">scope</a> you want it to get applied:
  <app-code-block language="scss" [source]="samples.basic"></app-code-block>
  <a routerLink="/demos/theming">Theming demo</a> shows it in action.
</p>
<p>
  <code>ngx-panes-theme</code> mixin currently accepts a configuration map (object) with the following keys:
</p>
<mat-card class="table-responsive">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Option</th>
      <th>Required</th>
      <th>Description</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let option of options">
      <td id="option-{{option.name | kebabCase}}">
        <app-side-anchor></app-side-anchor>
        <code>{{option.name}}</code>
      </td>
      <td>
        <mat-icon>{{option.required ? 'check' : 'close'}}</mat-icon>
      </td>
      <td [innerHtml]="option.description"></td>
      <td class="no-wrap">
        <code *ngIf="option.defaultValue">{{option.defaultValue}}</code>
        <span *ngIf="!option.defaultValue"> - </span>
      </td>
    </tr>
    </tbody>
  </table>
</mat-card>

<app-callout type="danger">
  This configuration parameters for theming are experimental and subject to change in future.
</app-callout>

<app-callout type="info">
  Wherever <code>ngx-panes-theme</code> is applying a background color to something, it's smart enough to apply a
  legible
  <a routerLink="." fragment="option-light-text-color">light</a> or
  <a routerLink="." fragment="option-dark-text-color">dark</a> text color based background color.
</app-callout>

<h2 id="theme-scope">
  <app-side-anchor></app-side-anchor>
  Theme scope
</h2>
<p>
  When you define a theme by including <code>ngx-panes-theme</code> mixin, the scope of the theme depends on
  the place you are including the mixin.
</p>
<h3 id="scope-global">
  <app-side-anchor></app-side-anchor>
  Single global theme
</h3>
<p>
  You can define a theme to be applied to all <code>ngx-pane-area</code> instances, by including the
  <code>ngx-panes-theme</code> mixin in a globally applied style.
</p>
<app-code-block language="scss" [source]="samples.customTheme1"></app-code-block>

<h3 id="scope-enclosed">
  <app-side-anchor></app-side-anchor>
  Multiple themes
</h3>
<p>
  If you want to use multiple themes, you can simply wrap mixin inclusion in a class selector wrapper:
</p>
<app-code-block language="scss" [source]="samples.customTheme2"></app-code-block>

<h3 id="scope-component-view">
  <app-side-anchor></app-side-anchor>
  Scoped to some component view
</h3>
<p>
  You can also include the mixin inside styles of a component
  and it will be applied to all <code>ngx-pane-area</code> instances inside that component's view (Assuming you are not
  disabling Angular's
  <a href="https://angular.io/docs/ts/latest/guide/component-styles.html#view-encapsulation">view encapsulation</a>
  ).
</p>
