<h1>Theming</h1>
<p>
  To create a custom theme, you need to import <code>ngx-panes-theme</code> mixin and include it wherever you want.
  <code>ngx-panes-theme</code> mixin currently accepts a configuration map (object) with the following keys:
</p>
<md-card class="table-responsive">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Option</th>
      <th>Required</th>
      <th>Description</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>primaryColor</code></td>
      <td>
        <md-icon>check</md-icon>
      </td>
      <td>
        Used for active pane tab
      </td>
      <td> -</td>
    </tr>
    <tr>
      <td><code>backgroundColor</code></td>
      <td>
        <md-icon>check</md-icon>
      </td>
      <td>
        Used for pane background color. By default, background color of pane tabs and header will be set to a little
        darkened version of the backgroundColor.
      </td>
      <td> -</td>
    </tr>
    <tr>
      <td><code>tabsContrast</code></td>
      <td>
        <md-icon>close</md-icon>
      </td>
      <td>
        Defines how much tabs background should be darker than background.
      </td>
      <td> 3%</td>
    </tr>
    <tr>
      <td><code>headerContrast</code></td>
      <td>
        <md-icon>close</md-icon>
      </td>
      <td>
        Defines how much pane header background should be darker than background.
      </td>
      <td> 5%</td>
    </tr>
    <tr>
      <td><code>borderContrast</code></td>
      <td>
        <md-icon>close</md-icon>
      </td>
      <td>
        border color is set to foreground color.
        borderContrast defines how much the opacity of borders.
      </td>
      <td> 20%</td>
    </tr>
    <tr>
      <td><code>lightTextColor</code></td>
      <td>
        <md-icon>close</md-icon>
      </td>
      <td>
        The color to be used for text color, whenever <b>light</b> color is legible.
      </td>
      <td>#eee</td>
    </tr>
    <tr>
      <td><code>darkTextColor</code></td>
      <td>
        <md-icon>close</md-icon>
      </td>
      <td>
        The color to be used for text color, whenever <b>dark</b> color is legible.
      </td>
      <td>#333</td>
    </tr>
    </tbody>
  </table>
</md-card>

<app-callout type="danger">
  This configuration parameters for theming are experimental and subject to change in future.
</app-callout>

<app-callout type="info">
  Wherever <i>ngx-panes-theme</i> is applying a background color to something, it's smart enough to apply a legible
  <b>light</b> or <b>dark</b> text color based background color.
</app-callout>

<h2>Style encapsulation</h2>
<p>
  When you define a theme by including <i>ngx-panes-theme</i> mixin, the scope of the theme depends on
  the place you are including the mixin.
  You can define a theme to be applied to all <code>ngx-panes</code> instances, by including the
  <i>ngx-panes-theme</i> mixin in a globally applied style.
</p>
<app-code-block language="scss" [source]="samples.customTheme1"></app-code-block>

<p>
  If you want to use multiple themes, you can simply wrap mixin inclusion in a wrapper class selector:
</p>
<app-code-block language="scss" [source]="samples.customTheme2"></app-code-block>

<p>
  You can also include the mixin inside styles of a component
  and it will be applied to all <code>ngx-panes</code> instances inside that component's view (Assuming you are not
  disabling Angular's
  <a href="https://angular.io/docs/ts/latest/guide/component-styles.html#!#view-encapsulation">view encapsulation</a>
  ).
</p>
