<div class="theme-darker">
  <mat-toolbar color="primary" class="mat-elevation-z1" [class.no-breadcrumb]="breadcrumb.breadcrumbs.length === 0">
    <mat-toolbar-row>
      <a routerLink="">Home</a>
      <a routerLink="demos">Demos</a>
      <a routerLink="api">API Docs</a>
      <a routerLink="guides">Guides</a>
      <span fxFlex></span>
      <a href="https://github.com/alirezamirian/ngx-panes" class="github"
         matTooltip="Code on GitHub" matTooltipPosition="before">
        <img src="../../assets/github-circle-white-transparent.svg"/>
      </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <app-breadcrumb #breadcrumb="AppBreadcrumb"></app-breadcrumb>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
