
mat-toolbar-row:nth-child(1) {
  height: 35px;
  font-size: .7em;
  align-items: flex-end;
}

mat-toolbar-row:nth-child(2) {
  //height: 55px;
}

a, :host /deep/ a {
  color: rgba(255, 255, 255, .4);
}

app-breadcrumb /deep/ a {
  color: #fff !important;
}

a {
  margin-right: 20px;
}
