
mat-toolbar {
  position: relative;
}
mat-toolbar.no-breadcrumb {
  min-height: 40px;
  mat-toolbar-row:nth-child(1) {
    height: 56px;
    margin-bottom: 0;
  }
  mat-toolbar-row:nth-child(2) {
    height: 0;
  }
}

mat-toolbar-row {
  transition: height .2s, margin-bottom .2s;
}
mat-toolbar-row:nth-child(1) {
  height: 45px;
  margin-bottom: -5px;
  font-size: .7em;
}

mat-toolbar-row:nth-child(2) {
  overflow: hidden;
  //height: 55px;
}

a, :host /deep/ a {
  color: rgba(255, 255, 255, .4);
}

app-breadcrumb /deep/ a {
  color: #fff !important;
}

a {
  margin-right: 20px;
}

