<ngx-pane-area>
  <ngx-pane-group [toggleable]="true" [defaultSize]="300">
    <ngx-pane title="First Pane">
      <app-demo-content [lines]="40"></app-demo-content>
    </ngx-pane>
    <ngx-pane title="Second Pane">
      <app-demo-content [lines]="40"></app-demo-content>
    </ngx-pane>
  </ngx-pane-group>
  <ngx-pane-group [align]="'end'" [defaultSize]="350">
    <ngx-pane title="Third pane">
      <app-demo-content [lines]="40"></app-demo-content>
    </ngx-pane>
    <ngx-pane title="Forth pane" [resizable]="true">
      <div class="mat-padding">
        This pane is explicitly set to be resizable
      </div>
      <app-demo-content [lines]="40"></app-demo-content>
    </ngx-pane>
  </ngx-pane-group>
  <div>
    <div fxFlex class="mat-padding">
      <p>
        <code>resizable</code> and <code>toggleable</code> are set to <code>false</code>
        for all child panes.
      </p>
      <p>
        The left <code>ngx-pane-group</code> is explicitly set to be toggleable,
        and the <b>forth pane</b> is explicitly set to be resizable.
      </p>
    </div>
  </div>
</ngx-pane-area>


