@import '../../../../../../lib/theming';
@import '~@angular/material/theming';
@import '../../../../styles/theme';

//@import '~ngx-panes/theming'; // for testing production bundle

.theme-intellij {
  @include ngx-panes-theme((
    primaryColor: #b7b7b7,
    backgroundColor: #fff,
    tabsContrast: 9%,
    headerContrast: 7%,
    borderContrast: 30%
  ));
}

.theme-darcula {
  @include ngx-panes-theme((
    primaryColor: #2d2f30,
    backgroundColor: #3c3f41,
    tabsContrast: 0%,
  ));
}

.theme-light-orange {
  @include ngx-panes-theme((
    primaryColor: #ef6c00,
    backgroundColor: #fff3e0
  ));
}

.theme-bluegrey {
  @include ngx-panes-theme((
    primaryColor: #546e7a,
    backgroundColor: #eceff1
  ));
}

mat-card table {
  th {
    border-top: none;
  }
  td:nth-child(2),
  td:nth-child(4) {
    text-align: center;
  }
}

app-code-block.active /deep/ mat-card {
  background: mat-color(map-get($app-theme, background), selected-button);
}
