@import '../../../../../../lib/theming';
@import '~@angular/material/theming';
@import '../../../../styles/theme';

//@import '~ngx-panes/theming'; // for testing production bundle

.theme-intellij {
  @include ngx-panes-theme((
    primaryColor: #b7b7b7,
    backgroundColor: #fff,
    tabsContrast: 9%,
    headerContrast: 7%,
    borderContrast: 30%
  ));
}

.theme-darcula {
  @include ngx-panes-theme((
    primaryColor: #2d2f30,
    backgroundColor: #3c3f41,
    tabsContrast: 0%,
  ));

  $dark-app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
  /deep/ {
    @include angular-material-theme($dark-app-theme);
    // The following commented line doesn't work! import is not scoped and is kind of hoisted to the top
    //@import '~highlight.js/styles/darcula.css';
    .hljs {
      color: map-get($mat-dark-theme-foreground, secondary-text);
    }
    .code {
      background: #555;
    }
  }
  app-code-block.active /deep/ mat-card {
    background: mat-color(map-get($dark-app-theme, background), selected-button);
  }
}

.theme-light-orange {
  @include ngx-panes-theme((
    primaryColor: #ef6c00,
    backgroundColor: #fff3e0
  ));
}

.theme-bluegrey {
  @include ngx-panes-theme((
    primaryColor: #546e7a,
    backgroundColor: #eceff1
  ));
}

mat-card table {
  th {
    border-top: none;
  }
  td:nth-child(2),
  td:nth-child(4) {
    text-align: center;
  }
}

app-code-block.active /deep/ mat-card {
  background: mat-color(map-get($app-theme, background), selected-button);
}
