/* You can add global styles to this file, and also import other style files */
@import 'styles/theme';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/code';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/type';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/tables';


body{
  margin: 0;
  color: #555;
  background: #fafafa;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a:link {
  color: #0366d6;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.md-padding {
  padding: 16px;
}
