<ngx-pane-area>
  <ngx-pane-group [defaultWidth]="300">
    <ngx-pane title="test 1" [opened]="true" [resizable]="false">
      First Pane
      <app-demo-content [lines]="20"></app-demo-content>
    </ngx-pane>
  </ngx-pane-group>
  <ngx-pane-group [defaultWidth]="300">
    <ngx-pane title="test 2">
      Second Pane
      <app-demo-content [lines]="22"></app-demo-content>
    </ngx-pane>
    <ngx-pane title="test 2">
      Third Pane
      <app-demo-content [lines]="22"></app-demo-content>
    </ngx-pane>

  </ngx-pane-group>
  <ngx-pane-group>
    <ngx-pane title="test 3" #pane3 [width]="150">
      Forth Pane. pane width: {{pane3.width}}
      <app-demo-content [lines]="20"></app-demo-content>
    </ngx-pane>
  </ngx-pane-group>
  <ngx-pane-group [autoOpen]="false">
    <ngx-pane title="test 4" #pane4 [width]="100">
      Forth Pane. pane width: {{pane4.width}}
      <app-demo-content [lines]="20"></app-demo-content>
    </ngx-pane>
  </ngx-pane-group>


  <div ngx-pane-area-content>
    Main content
  </div>
</ngx-pane-area>
